@model PA_Website.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <strong>First Name:</strong> @Model.FName
</div>
<div>
    <strong>Last Name:</strong> @Model.LName
</div>
<div>
    <strong>Email:</strong> @Model.Email
</div>
<div>
    <strong>User Name:</strong> @Model.UserName
</div>
<div>
    <strong>Zodiacal Sign:</strong> @Model.Zodiacal_Sign
</div>
<div>
    <strong>Birth Date:</strong> @Model.Birth_Date.ToShortDateString()
</div>

<a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
