@model IEnumerable<PA_Website.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FName)</th>
            <th>@Html.DisplayNameFor(model => model.LName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FName</td>
                <td>@user.LName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a href="@Url.Action("Details", new { id = user.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
